@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url("normalize.css");
.left {
  float: left; }

.right {
  float: right; }

.relative {
  position: relative; }

.clearfix {
  overflow: hidden;
  *zoom: 1; }

.text-centered {
  text-align: center; }

.text-right {
  text-align: right; }

.nowrap {
  white-space: nowrap; }

.last {
  margin-right: 0; }

.end {
  margin-bottom: 0; }

.handle {
  cursor: move; }

.normal {
  font-weight: normal; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.req .required {
  font-weight: normal;
  color: #ef6465; }

.text-uppercase {
  text-transform: uppercase; }

.zero, .unstyled {
  margin: 0;
  padding: 0; }

.highlight {
  background-color: #ffff9e; }

.hidden {
  display: none !important;
  visibility: hidden; }

.unstyled {
  list-style: none; }

.unstyled li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Open Sans", "sans-serif"; }

.b-link {
  font-size: 14px;
  font-weight: 400; }

.container {
  *zoom: 1;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.b_head {
  width: 100%;
  height: auto;
  overflow: hidden; }

.b_head--top {
  overflow: visible;
  background: #333745;
  border-bottom: 5px solid #272a34; }

.b_brand {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  height: 40px; }
  .b_brand:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .b_brand {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 314.84594%; }
      .b_brand:last-child {
        margin-right: 0; } }
  .b_brand .b_brand__logo, .b_brand .b_brand__logo .b-link {
    display: block;
    background: url("../../img/salvatown-logo.png") no-repeat;
    width: 189px;
    height: 154px;
    position: absolute;
    margin: 0.25em 0; }
    .b_brand .b_brand__logo .b-link {
      background: transparent;
      color: transparent;
      font: 0/0 a;
      text-shadow: none; }

.b_nav--top {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .b_nav--top:last-child {
    margin-right: 0; }

.b_menu {
  display: table;
  width: 100%;
  text-align: center; }
  .b_menu .b_menu__item {
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid #494e62; }
    .b_menu .b_menu__item:hover {
      background: #272a34; }
  .b_menu .b-link {
    display: block;
    line-height: 40px;
    color: white;
    text-decoration: none;
    padding: 0 1.5em;
    border-left: 1px solid #1d2028; }

.b_head--bottom {
  background: #e9304a;
  border-bottom: 5px solid #c2273d; }

.b_menu__bottom {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-left: 25.58941%; }
  .b_menu__bottom:last-child {
    margin-right: 0; }
